name: Daily Sync and Image Search

on:
  schedule:
    - cron: '0 5 * * *'
  workflow_dispatch:

jobs:
  run-sync:
    runs-on: ubuntu-latest
    timeout-minutes: 360
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Cache Image Links
        uses: actions/cache@v3
        with:
          path: images_cache.json
          key: ${{ runner.os }}-images-v3 # تغيير المفتاح لضمان بداية نظيفة
          restore-keys: |
            ${{ runner.os }}-images-

      - name: Install Dependencies
        run: pip install pandas requests

      - name: Run Main Script
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py
